:root {
  --mainColor: #ffd426;
  --secondColor: #ffdf61;
  --thirdColor: #ffe57f;

  --accent: #ffcc00;
  --pale-accent: #ffdf61;
  --faint-accent: #ffe57f;
  --black: #010101;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
}
::selection {
  background-color: var(--mainColor);
  color: white;
}
